.popupLogin {
	width: 50vw;
	height: 60vh;
	position: fixed;
	z-index: 15;
	top: 16vh;
	left: 25vw;
	border-radius: 1.9vw;
	display: flex;
}
.img_log {
	background-image: url("/../images/popup_log_img.png");
	background-repeat: no-repeat;
	background-position: 0vw -0.5px;
	background-size: cover;
	height: 100%;
	width: 50%;
	border-radius: 1vw 0vw 0vw 1vw;
	overflow: hidden;
}
.form_log {
	width: 50%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	border-radius: 0vw 1vw 1vw 0vw;
	position: relative;
	padding: 5vw 5vw 0 0;
	padding-left: 5vw;
	& > img {
	}
	& > a {
		position: absolute;
		right: 5%;
		top: 4%;
		width: 1.5vw;
	}
	& > h3 {
		text-align: center;
		font-size: .8vw;
		margin-top: 1vw;
		color: #053D5C;
		& + input {
			& + a {
				font-size: .9vw;
				position: static;
				text-align: center;
				top: 16vw;
				right: 8.5vw;
				color: #053D5C;
			}
		}
	}
	& > input {
		height: 5vh;
		width: 15vw;
		border: none;
		border-radius: .5vw;
		background-color: #D9D9D9;
		padding-left: 1vw;
		color: #053D5C;
	}
}
.input_login_popup {
}
.input_passw_popup {
}
.btn_log {
	margin-left: 3.5vw;
	margin-top: 2vw;
	width: 8vw;
	background-color: #053D5C;
	height: 3vw;
	color: white;
}
.popupShadow {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 14;
	background-color: rgba(54, 54, 54, 0.78);
	width: 100%;
	height: 100%;
}
.show_animation {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s;
}
.no_show {
	opacity: 0;
	transition: opacity 0.3s, visibility 0.3s;
	visibility: hidden;
}
