@use "style";

@media screen and (max-width: 500px) {
    
    .directions > *, .directions > * >  *{
        display: none;
    }
    .logo_header, .cart_header, .login_header {
        position: relative;
        bottom: 100%;
        height: 60% !important;
        width: 20% !important;
        left: 7vw;
        margin: 0 0 0 4%;
    }
     .logo_header{
        margin: 0 5% 0 0;
     }


    .header_and_nav .search_and_login {
        background-color: #D9D9D9;
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;
    }
    .header_and_nav {
        width: 100%;
        height: 15vw;
    }
    .directions {
   
    height: 14vw;

}
}