@use "style";

@media screen and (max-width: 500px) {
    
    .directions > *, .directions > * >  *{
        display: none;
    }
    .logo_header, .cart_header, .login_header {
        position: absolute;
        bottom: 100%;
        height: 60% !important;
        width: 20% !important;
        left: 7vw;
        margin: 0 5% 0 3%;
        bottom: 115%;
        font-size: 10vw !important;
    }
     .logo_header{
        margin: 0 0 0 0;

     }
     .cart_header{
        left: 45%;
     }
     .login_header{
        left: 73%;
     }

     .search_and_login{
        position: relative;
     }

    .header_and_nav .search_and_login {
        background-color: #D9D9D9;
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;
    }
    .header_and_nav {
        width: 100%;
        height: 15vw;
        position: relative;
    }
    .directions {
   
    height: 14vw;
    }
    .search_and_login{
        .search_header {
            height: 55%;
            left: 20vw;
            width: 62vw;
            input{
                color: black;
                width: 100%;
                height: 100%;
                font-size: 3.5vw;
            }
            .search_header_btn {
                height: 98%;
                left: 65vw;
                    h4{
                        display: none;
                    }
                    img{
                        width: 3.5vw;
                        display: block;
                    }
            }
        }
    }

    
                .sandwich{
                    height: 73%;                    
                    width: 12vw;
                    border-radius: 1.3vw;
                    display: flex; 
                    flex-direction: column;
                    position: absolute;
                    z-index: 5;
                    background-color: style.$main_color-blue;
                    padding: 2% 0 0 0;
                    left: 2%;
                    margin: 2vw 0 0 0;
                }
                    .sandvich_line{
                        // position: absolute;
                        height: 6%;
                        width: 60%;
                        background-color: #e3e4e4;
                        margin: 0.4vw 0 1.6vw 2.4vw;
                    }
                   .sandwich_inactive{
                        display: none;
                    }

                    .sandwich_wrapper{
                        display: block;
                        background-color: rgba(54, 54, 54, 0.8);
                         height: 100%;
                         width: 100%;
                         position: absolute;
                         z-index: 2;
                         height: 30%;
                     }   
                     .sandwich_menu{
                         color: white;
                         font-size: 4vw;
                         padding: 9vw 5vw;
                         list-style: none;
                         text-decoration: none;
                     }
                     .sandwich_menu li{
                         margin: 6vw 0 6vw 3vw ;
                         font-family: 'Ubuntu', sans-serif;
                         
                     }
             
                     .sandwich_menu li a{
                         text-decoration: none;
                         color: inherit;
                     }
    .catalog_section {
       display: none;
    }
    .catalog_section-500{
        margin-top: 33%;
        width: 80%;
        height: 100%;
	    display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-areas: 
        "for_women accesories"    
        "for_women undervear"
        "for_women sport"
        "for_kids for_men"
        "brands for_men"
        "shoes for_men";
            .for_women{
            grid-area: for_women;
            }
            .accesories{
                grid-area: accesories;
            }
            .undervear{
                grid-area: undervear;
            }
            .sport{
                grid-area: sport;
            }
            .for_kids{
                grid-area: for_kids;
                width: 100%;
	            height: 100%;
            }
            .brands{
                grid-area: brands;
            }
            .shoes{
                grid-area: shoes;
            }
            .for_men{
                grid-area: for_men;
            }
            *{
                width: 100%;
	            height: 100%;
                border: #D9D9D9 1.2vw solid;
                p, a{
                    width: fit-content;
                    height: fit-content;
                    border: none;
                    font-size: 4vw;
                }
            }
            

    }
    .rec_title{
        display: none;
    }
    .recommends_section{
        display: none;
    }
    footer{
        margin-top: 20vw;
    }
}