

@media screen and (max-width: 500px) {
    
    .wrapper{
        width: 105%;
    }

    .directions > *, .directions > * >  *{
        display: none;
    }
    .logo_header, .cart_header, .login_header {
        position: absolute;
        bottom: 100%;
        height: 60% !important;
        width: 20% !important;
        left: 7vw;
        margin: 0 5% 0 3%;
        bottom: 115%;
        font-size: 10vw !important;
    }
     .logo_header{
        margin: 0 0 0 0;

     }
     .cart_header{
        left: 45%;
     }
     .login_header{
        left: 73%;
     }

     .search_and_login{
        position: relative;
     }

    .header_and_nav .search_and_login {
        background-color: #D9D9D9;
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;
    }
    .header_and_nav {
        height: 15vw;
        position: sticky; 
        top: 0;
        z-index: 1000;
        background: white; 
        width: 100%;
    }
    .directions {
   
    height: 14vw;
    }
    .search_and_login{
        .search_header {
            height: 75%;
            left: 20vw;
            width: 62vw;
            input{
                color: black;
                width: 100%;
                height: 100%;
                font-size: 3.5vw;
            }
            .search_header_btn {
                height: 98%;
                left: 65vw;
                    h4{
                        display: none;
                    }
                    img{
                        width: 3.5vw;
                        display: block;
                    }
            }
        }
    }

    
                .sandwich{
                    height: 73%;                    
                    width: 12vw;
                    border-radius: 1.3vw;
                    display: flex; 
                    flex-direction: column;
                    position: absolute;
                    z-index: 5;
                    background-color: #053D5C;
                    padding: 2% 0 0 0;
                    left: 2%;
                    margin: 2vw 0 0 0;
                }
                    .sandvich_line{
                        // position: absolute;
                        height: 6%;
                        width: 60%;
                        background-color: #e3e4e4;
                        margin: 0.4vw 0 1.6vw 2.4vw;
                    }
                   .sandwich_inactive{
                        display: none;
                    }

                    .sandwich_wrapper{
                        display: block;
                        background-color:rgba(217, 217, 217, 0.95);
                        height: 80vw;
                        width: 65%;
                        position: absolute;
                        z-index: 2;
                        top: 29.1vw;

                    
                        border-radius: 0 0vw 3vw 0vw;
                     }   
                     .sandwich_menu{
                         color: white;
                         font-size: 4vw;
                         height: 20vw;
                         list-style: none;
                         text-decoration: none;
                         position: absolute;
                     }
                     .sandwich_menu li{
                        margin: 1vw 0 2.5vw 5vw;
                        font-family: 'Ubuntu', sans-serif;
                        color: #053D5C;
                        background-color: rgba(5, 61, 92, 0.3);
                        width: fit-content;
                        width: calc-size(fit-content, size + 5%);
                        text-align: center;
                     }
             
                     .sandwich_menu li a{
                         text-decoration: none;
                         color: inherit;
                     }
    .catalog_section {
       display: none;
    }
    .catalog_section-500{
        margin-top: 33%;
        width: 80%;
        height: 100%;
	    display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-areas: 
        "for_women accesories"    
        "for_women undervear"
        "for_women sport"
        "for_kids for_men"
        "brands for_men"
        "shoes for_men";
            .for_women{
            grid-area: for_women;
            }
            .accesories{
                grid-area: accesories;
            }
            .undervear{
                grid-area: undervear;
            }
            .sport{
                grid-area: sport;
            }
            .for_kids{
                grid-area: for_kids;
                width: 100%;
	            height: 100%;
            }
            .brands{
                grid-area: brands;
            }
            .shoes{
                grid-area: shoes;
            }
            .for_men{
                grid-area: for_men;
            }
            *{
                width: 100%;
	            height: 100%;
                border: #D9D9D9 1.2vw solid;
                p, a{
                    width: fit-content;
                    height: fit-content;
                    border: none;
                    font-size: 4vw;
                }
            }
            

    }


.popupLogin {
    width: 118vw;
    height: 60vh;
    position: fixed;
    z-index: 15;
    top: 16vh;
    left: 5vw;
    border-radius: 1.9vw;
    display: flex;
        .img_log {
            background-image: url(/../images/popup_log_img.png);
            background-repeat: no-repeat;
            background-position: 0vw -0.5px;
            background-size: cover;
            height: 100%;
            width: 25%;
            border-radius: 1vw 0vw 0vw 1vw;
            overflow: hidden;
        }
        .form_log{
            width: 50%;
            height: 100%;
            background-color: rgb(255, 255, 255);
            border-radius: 0vw 4vw 4vw 0vw;
            position: relative;
            padding: 5vw 5vw 0 0;
            padding-left: 5vw;
                .form_log > a {
                    position: absolute;
                    right: 5%;
                    top: 4%;
                    width: 6.5vw;
                }
                .form_log > h3 {
                    text-align: center;
                    font-size: 4.8vw;
                    margin-top: 12vw;
                    color: #053D5C;
                }
                .form_log > input {
                    height: 5vh;
                    width: 100%;
                    border: none;
                    border-radius: 1.5vw;
                    background-color: #D9D9D9;
                    padding-left: 1vw;
                    color: #053D5C;
                }
                .form_log > h3 + input + a {
                    font-size: 2.5vw;
                    position: static;
                    text-align: center;
                    top: 16vw;
                    right: 8.5vw;
                    color: #053D5C;
                }
                .btn_log {
                    margin-left: 14.5vw;
                    margin-top: 6vw;
                    width: 19vw;
                    background-color: #053D5C;
                    height: 10vw;
                    color: white;
                }
        }
}

    .rec_title{
        display: none;
    }
    .recommends_section{
        display: none;
    }
    footer{
        margin-top: 20vw;
    }
}