@use "style";

@media screen and (max-width: 800px) {
    .header_and_nav {
	width: 100%;
	height: 10vw;
    .dir_main{
        position: relative;
        justify-content: center;
        height: 100%;
        width: 33.35%;
        text-align: center;
        display: flex;
        align-items: center;
        color: #053D5C;
        cursor: pointer;
        font-size: 2.1vw;
    }
    .nav_stat {
    position: absolute;
    height: 1.4vw;
    background-color: #053D5C;
    width: 33.3%;
}
   .search_and_login {
    background-color: #D9D9D9;
    height: 81%;
    display: flex;
    align-items: center; 
   }

   
   .btn_rad{
	background-color: style.$main_color-blue;
	border-radius: 0.8vw;
	justify-content: center;
	align-items: center;
    font-size: 1vw;
}

.search_and_login > *, .search_and_login > * > * {
	font-size: 2.7vw;
	color: #fff;
	display: flex;
	height: 5.5vw;
	align-items: center;
}

.directions > *{
 font-size: 2.1vw;
}

}

// .logo_header{

// }
// .cart_header, .login_header {

// }
}

