*,
::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.5;
  background-color: #fff;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}


/* ##################  Main styles  ###################### */


:root{
  --header-height_btn: 6vh;
}


/* ########################################################## */



@media screen and (min-height: 100px) {


.wrapper {
 width: 100vw;
 height: 100vh;
 background-color: aqua;
}

.container {
 width: 100vw;
 /* background-color: aqua; */
 height: 100vh;
}

.header_and_nav {
background-color: rgb(149, 160, 156);
width: 100vw;
height: 200px;
}

.directions {
background-color: #fff;
height: 104px;
display: flex;
flex-direction: row;
align-items: end;
position: relative;
overflow: hidden;
}


.dir_main,
.dir_women,
.dir_men {
position: relative;
justify-content: center;
height: 100%;
width: 33.35%;
text-align: center;
display: flex;
align-items: center;
color: #053D5C;
cursor: pointer;


}

.nav_stat{
    position: absolute;
    height: 15px;
    background-color: #053D5C;
    width: 33.3%;
}

.dir_main {

}

.dir_men {
  /* стили для элемента с классом dir_men */
}

.search_and_login {
  background-color: #D9D9D9;
  height: 48%;
  display: flex;
  align-items: center;
  ;
}

.search_and_login > *, .search_and_login > * > *  {
  font-size: 20px;
  color: #fff;
  display: flex;
  height: 5vh;
  align-items: center;

}


.logo_header {
  width: 7vw;
  background-color: #053D5C;
  display: flex;
  position: relative;
  left: 4vw;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
}

.search_header {
  width: 33vw;
  background-color: #fff;
  display: flex;
  position: relative;
  left: 17vw;
}

.search_header > input {
  width: 33vw;
  position: absolute;
  border: none;
  color:#053D5C;
  padding-left: 1vw;
}

.search_header_btn{
  width: 6vw;
  background-color: #053D5C;
  display: flex;
  position: relative;
  left: 35vw;
  justify-content: center;
  align-items: center;
  /* border-radius: 15px; */
}

.cart_header {
  width: 10vw;
  background-color: #053D5C;
  display: flex;
  position: relative;
  left: 32vw;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
}

.login_header {
  width: 10vw;
  background-color: #053D5C;
  display: flex;
  position: relative;
  left: 35vw;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
}



/* ################################# */




.main_section {
  /* стили для элемента с классом main_section */
}

.footer {
  /* стили для элемента с классом footer */
}






}