.popupPayment{
    width: 64vw;
    height: 46vw;
    position: fixed;
    z-index: 15;
    top: 2vw;
    left: 17.5vw;
    border-radius: 1vw;
}

.hide {
    display: none;
}

.popupPayment_title{ 
    position: absolute;
    height: 29.8vw;
    width: 46.8vw;
    left: 0;
    top: 0;
    background-color: #858181;
    border-radius: 1vw 0 0 0;
    display: flex;
    flex-direction: column;
}
    .popupPayment_title_imgAndText{
        display: flex;
        flex-direction: row;
        height: 18vw;
        width: 99%;
    }

        .popupPayment_title img{
            height: 14vw;
            margin: 3vw 2vw auto 2vw;
        }
        .popupPayment_title_text{
            display: flex;
            flex-direction: column;
            color: #fff;
            font-size: 1vw;
            margin: 3vw auto;
            font-family: 'Ubuntu', sans-serif;
        }
        .popupPayment_title_text p{
            font-size: 1.3vw;
        }
        .popupPayment_title_text p + p{
            font-size: inherit;
            margin-top: 1vw;
        } 

    .popupPayment_title .buy_form{
        margin: 0.6vw 0 0 2vw;
        color: white;
        height: 9.4vw;
        font-size: 1vw;
        width: 43vw;
        border-radius: 0.4vw;
    }

        .popupPayment_title .buy_form table {
            padding: 0.5vw 1vw 0 1vw;
            line-height: 1vw;
            height: 7vw;
            font-family: 'Ubuntu', sans-serif;
        }
        .popupPayment .table_prices{
            width: 46vw;
        }
        .popupPayment_title .horLine {
            width: 40vw;
            height: 0.15vw;
            background-color: #515151;
            margin: 0 0 0 1vw;
          }
        .popupPayment_title .final_price {
            font-family: 'Ubuntu', sans-serif;
        }
        .popupPayment_title .final_price_num {
            margin: 0.2vw 0 0 32.4vw;
          }
          .popupPayment_title .final_price_text {
            margin: 0.2vw 0 0 1.5vw;
          }
        
.popupPayment_buyForm{ 
    position: absolute;
    width: 46.8vw;
    height: 15.8vw;
    left: 0;
    bottom: 0;
    background-color: #858181;
    border-radius: 0 0 0 1vw;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
    .popupPayment_buyForm h4{
        margin: 2vw 0 0 2vw;
        font-size: 1.1vw;
        font-family: 'Ubuntu', sans-serif;
    }
    .popupPayment_buyForm p{
        font-size: 1vw;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
    }
    .popupPayment_buyForm .inputAndButton{
        margin: 2vw auto 0 auto;
        display: flex;
        flex-direction: column;
    }
        .popupPayment_buyForm .formInput_button{
            background-color: #3CBB9D;
            border: none;
            height: 2vw;
            border-radius: 0.4vw;
            margin-top: 0.4vw;
            color: #fff;
            font-size: 1.2vw;
            transition: background-color 0.3s;
            cursor: pointer;
        }
        .popupPayment_buyForm .formInput_button:hover{
            background-color: #42d4b2;
            transition: background-color 0.3s;
        }

    .popupPayment_buyForm .formInput{
        width: 15vw;
        height: 3vw;
        border-radius: 0.5vw;
        border: none;
        padding-left: 0.6vw;
        font-size: 1.2vw;
        color: #000000;
        text-align: center;
    }
        .popupPayment_buyForm .formInput::placeholder{
            color: #3CBB9D;
            font-size: 1.2vw;
            margin: 0;
            padding: 0; 
            /* margin-left: 3vw */
            text-align: left;
        }

.popupPayment_buyType{
    position: absolute;
    width: 16.8vw;
    height: 100%;
    right: 0;
    border-radius: 0 1vw 1vw 0;
    z-index: 20;
    font-family: 'Ubuntu', sans-serif;
    color: white;
   
}

    .popupPayment_buyForm_item{
        cursor: pointer;
        width: 16.7vw;
        height: 8.2vw;
        background-color: #858181;
        border-radius: 0 1vw 1vw 0;
        margin-bottom: 0.5vw;
        transition: background-color 0.3s;
    }
    .popupPayment_buyForm_item:hover{
        background-color: #9e9e9e;
        
    }
    
    .popupPayment_buyForm_item:last-child{
       height: 11.2vw;
       padding: 1vw;
    }
    .active-buyType{
        background-color: #3CBB9D;
        opacity: 1;
        transition: background-color 0.3s;
    }
    .active-buyType:hover{
        background-color: #3CBB9D;
    }
        .buy_buyType_text{
            width: 16vw;
            font-size: 1.4vw;
            margin-bottom: 1.5vw;
        }
        .popupPayment_buyType-img{
            width: 12vw;
            height: 7vw;
            margin: 0.7vw auto auto 2vw;
            border-radius: 1vw;
        }
        .popupPayment_buyType-icon{
            height: 3vw;
            margin: 0 -0.4vw 0 1vw;
        }
        .dotes{
            font-size: 2vw;
            height: 1vw;
            position: absolute;
            right: 4.5vw;
            bottom: 3.6vw;
        }


        
        
    
.popupShadow{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 14;
    background-color: rgba(54, 54, 54, 0.78);
    width: 100%;
    height: 100%;

}


.show_animation{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;

}

.no_show{
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    visibility: hidden;

    
}





@media (max-width: 500px) {
    /* Общие стили для мобильных устройств */
    body {
        font-size: 14px;
    }

    .container-500 {
        width: 100%;
        padding: 10px;
    }

    .popupPayment {
        width: 90vw;
        height: auto;
        top: 10vh;
        left: 5vw;
        border-radius: 8px;
    }

    .popupPayment_title {
        height: auto;
        width: 100%;
        border-radius: 8px 8px 0 0;
    }

    .popupPayment_title_imgAndText {
        flex-direction: column;
        align-items: center;
    }

    .popupPayment_title img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
    }

    .popupPayment_title_text {
        text-align: center;
        margin: 10px;
    }

    .buy_form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .table_prices table {
        width: 100%;
        font-size: 12px;
    }

    .popupPayment_buyForm {
        width: 100%;
        border-radius: 0 0 8px 8px;
    }

    .popupPayment_buyForm h4 {
        font-size: 16px;
        margin: 10px;
    }

    .inputAndButton {
        width: 100%;
        align-items: center;
    }

    .formInput {
        width: 80%;
        margin: 10px auto;
    }

    .formInput_button {
        width: 80%;
        margin-top: 10px;
    }

    .popupPayment_buyType {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .popupPayment_buyForm_item {
        width: 90%;
        margin-bottom: 10px;
    }

    .buy_buyType_text {
        font-size: 14px;
    }

    .popupPayment_buyType-img {
        width: 100%;
        height: auto;
    }

    .popupShadow {
        background-color: rgba(54, 54, 54, 0.8);
    }

    /* Адаптация меню и навигации */
    .description_naw {
        flex-direction: column;
        align-items: flex-start;
    }

    .about_book, .quotes_book, .notes_book {
        font-size: 14px;
        margin: 5px 0;
    }

    .vert_line_naw {
        height: 1px;
        width: 100%;
        background-color: #ccc;
        margin: 10px 0;
    }

    /* Адаптация отзывов */
    .notes_div_text {
        margin-bottom: 20px;
    }

    .person_and_score {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .score {
        margin: 0 2px;
    }
}